#app {
    margin-top: 0px;
    margin-left: 0px;
    min-width: auto;
    min-height: auto;
    cursor: default;
    background-repeat: no-repeat;
    user-select: none;
}

.std_btn {
    background-color: white;
    color: black;
    width: 50px;
    height: 50px;
    font-size: 25px;
    padding: 0;
    border-radius: 10px;
}


.tooltippable {
    position: relative;
    display: inline-block;
}
.tooltippable .tooltiptext {
    font-size: 12pt;
    visibility: hidden;
    display: inline-block;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
}
.tooltippable:hover .tooltiptext {
    visibility: visible;
}
.tooltiptext:hover {
    display: none;
}

.left_entries {
    float: left;
}

.center_entries {
    float: none;
}

.right_entries {
    float: right;
}

.centered_vertically {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0px;
}

.flex-fill {
    flex: 1;
}

.absolute {
    position: absolute;
}

.adv_enemy {
    width:64px;
    height:64px;
    background-size: cover;
}

#game_container {
    width: 100%;
    height: 100%;
    background-color: rgb(208, 212, 216);
}

#top_pane {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 10%;
    background-size: auto;
}

#top_pane_holder {
    padding-top: 2px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 22px;
}

#center_pane {
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    overflow: hidden;
}

#center_pane_adventure {
    height: 100%;
    width: 100%;
}

#center_pane_adventure_left {
    height: 100%;
    width: 10%;
}

#center_pane_adventure_right {
    height: 100%;
    width: 90%;
}

#bottom_pane {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 5%;
    background-repeat: no-repeat;
    background-size: auto;
}
